@font-face {
  font-family: "Ruhl";
  src: url("/fonts/FrankRuhlLibre-Regular.ttf");
}
@font-face {
  font-family: "Ruhl Medium";
  src: url("/fonts/FrankRuhlLibre-Medium.ttf");
}
@font-face {
  font-family: "Vibes";
  src: url("/fonts/GreatVibes-Regular.ttf");
}
/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow:hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

.main-head {
  width: 95%;
  margin: 0 0 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  min-height: 10vh;
  width: 60%;
  flex-wrap: wrap;
}
nav .logo {
  font-family: "Vibes", sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex: 1 1 10rem;
}
nav .logo h1 {
  margin: 2rem;
  font-size: 3.5rem;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex: 1 1 40rem;
}

.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.intro h2 {
  font-size: 8rem;
  padding-top: 2rem;
  background: -webkit-gradient(linear, left top, right top, from(#38d39f), to(#38a4d3));
  background: linear-gradient(left, #38d39f, #38a4d3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.intro h3 {
  font-size: 6rem;
  padding: 2rem 0rem;
}
.intro p {
  padding-top: 2rem;
  color: #2c2c2c;
}

.splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
}

.intro-social {
  margin-top: 4rem;
}
.intro-social a {
  margin-right: 5rem;
}

.active {
  background: #2c2c2c;
  color: white;
  padding: 1rem 3rem;
  border-radius: 2rem;
}

.intro-text, .intro-images {
  flex: 1 1 40rem;
}

#plant-left {
  animation: plant 1.5s ease infinite alternate;
}

#plant-right {
  animation: plant 1.5s ease infinite alternate 0.5s;
}

#me {
  animation: me 1s ease infinite alternate;
  transform-origin: bottom;
}

#clock-arrow {
  animation: clock 1.5s infinite linear;
  transform-box: fill-box;
  transform-origin: bottom;
}

@keyframes plant {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-30%);
  }
}
@keyframes me {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(5deg);
  }
}
@keyframes clock {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.projects {
  width: 80%;
  margin: auto;
  min-height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
}
.projects h2 {
  font-family: "Vibes", sans-serif;
  margin: 5rem;
  padding: 2rem 3rem;
}

.travelly,
.elena {
  flex: 1 1 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.elena {
  margin-bottom: 5rem;
}

.form-section {
  margin-bottom: 3rem;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 3rem;
}
.form-section form {
  padding: 3rem 10rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 40px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 2rem;
}
.form-section form input, .form-section form textarea {
  margin: 2rem;
}
.form-section form input:focus, .form-section form textarea:focus {
  outline: 2px solid black;
}
.form-section form textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}
.form-section form button {
  width: 100%;
  padding: 2rem;
  background-color: #154353;
  color: white;
}
.form-section form button:focus {
  background: #33696b;
}

footer {
  background: #154353;
  color: white;
  min-height: 10vh;
  padding: 0 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex: 1 1 40rem;
}
footer h4 {
  flex: 1 1 40rem;
}

@media screen and (max-width: 1332px) {
  html {
    font-size: 53%;
  }

  .splash {
    display: none;
  }

  svg {
    width: 80%;
  }

  nav {
    width: 100%;
  }
}
@media screen and (max-width: 754px) {
  html {
    font-size: 45%;
  }

  svg {
    height: 60%;
  }

  .main-head {
    width: 100%;
  }

  nav {
    margin: 2rem;
  }
  nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex: 1 1 20rem;
    margin-top: 2rem;
  }
  nav ul {
    flex: 1 1 60rem;
    margin: 2rem 0;
  }

  .intro-text {
    margin-top: 5rem;
    text-align: center;
  }

  .intro-social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .intro-social a {
    margin: 2rem;
  }

  .intro-images {
    text-align: center;
  }

  .elena, .travelly {
    flex: 1 1 50rem;
  }
  .elena img, .travelly img {
    height: 100%;
    width: 100%;
  }

  form {
    padding: 0;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
