$header1: 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 2.5rem;
$gradient: linear-gradient(left, #38d39f, #38a4d3);
$background-color: #154353;
$gray-text: #2c2c2c;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
@font-face {
  font-family: "Ruhl";
  src: url("/fonts/FrankRuhlLibre-Regular.ttf");
}
@font-face {
  font-family: "Ruhl Medium";
  src: url("/fonts/FrankRuhlLibre-Medium.ttf");
}
@font-face {
  font-family: "Vibes";
  src: url("/fonts/GreatVibes-Regular.ttf");
}
@import "global";
@import "intro";
@import "projects";
@import "contact";
@import "footer";

@media screen and (max-width: 1332px) {
  html{
    font-size: 53%;
  }
  .splash{
    display: none;
  }
  svg{
    width: 80%;
  }
  nav{
    width: 100%;
  }
}
@media screen and (max-width: 754px){
  html{
    font-size: 45%;
  }
  svg{
    height: 60%;
  }
  .main-head{
    width: 100% ;
  }
  nav{
    margin: 2rem;
    .logo{
      @include flex(center,center,row);
      flex:1 1 20rem;
      margin-top: 2rem;
    }
    ul{
      flex: 1 1 60rem;
      margin: 2rem 0;
    }
  }
  .intro-text{
    margin-top: 5rem;
    text-align: center;
  }
  .intro-social{
    @include flex(center,center,row);
    a{
      margin: 2rem;
    }
  }
  .intro-images{
    text-align: center;
  }
  .elena,.travelly{
    flex:1 1 50rem ;
    img{
      height: 100%;
      width: 100%;
    }
  }
  form{
    padding: 0;
    width: 100%;
  }
}